<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

  <!-- Site Properties -->
  <title>North Shore 7th</title>


<!-- Open Graph data -->
<meta property="og:title" content="North Shore 7th Ward" />
<meta property="og:type" content="Ward Bulletin" />
<meta property="og:url" content="http://www.northshore7.github.io/" />
<meta property="og:image" content="/images/temple.jpg" />
<meta property="og:description" content="Sacrament Program | Ward Announcements | New Member Registration | Ward Leader Directory | Links for Interviews and Appointments" />
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
  
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.css">

  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js"></script>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="http://cdn.jsdelivr.net/jquery.glide/1.0.6/jquery.glide.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/components/dropdown.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.js"></script>
<script src="https://cdn.jsdelivr.net/npm/js-cookie@2.2.0/src/js.cookie.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.2/axios.min.js" type="text/javascript"></script>
<script src="https://unpkg.com/vue@2.2.5/dist/vue.js" type="text/javascript"></script>
</head>
<style>
  .serif{
    font-family: "Times New Roman", Times, serif;
    font-size: 1.2em;
  },
  .bigger{
    font-size: 20px;
  },
  .column {position:absolute;}
  #container { overflow: auto; -webkit-overflow-scrolling: touch; height: 500px; }
      object { width: 500px; height: 10000px }
</style>

<body>
<div id="app" v-cloak>
  <br>
  <div class="ui text center aligned container">
    <div class="ui icon message">
  <div class="content">
    <h2 class="ui icon header">
      North Shore 7th Ward
    </h2>
    <p>{{date}}</p>
    <img class="ui bordered fluid image" v-bind:src="img">
    <br>
    <em class="serif">"{{quote[0]}}"</em>
    <p class="serif">- {{quote[1]}}</p>

     <img class="ui centered small image" src="/images/logo.png">
</div>

  </div>
</div>
<div class="ui raised text centered aligned container segment">
  
  <div class="ui serif one column grid">
    <div class="row">
        <p class="column center aligned">
          {{meetingName}}
        </p>
    </div>
  </div>
  <br>

  <div class="ui serif one column grid">
    <div class="row">
      <div class="column center aligned ">
        <p>Presiding<span v-for="n in (presidingNum+1)">. </span> {{presiding}}</p>
      </div>
      <div class="column center aligned ">
        <p>Chorister<span v-for="n in (choristerNum-2)">. </span>{{chorister}}</p>
      </div>
      <div class="column center aligned ">
        <p>Organist<span v-for="n in (organistNum-1)">. </span>{{organist}}</p>
      </div>
    </div>
  </div>

  <br>
  <div class="ui serif one column grid">
    <div class="row">
      <strong class="column center aligned" style="font-size:18px;">
        <em>Announcements</em>
      </strong>
    </div>
  </div>
  <br>

  <div class="ui serif one column grid">
    <div class="row">
      <div class="column center aligned ">
        <p>Opening Hymn<span v-for="n in (hymnNum)">. </span> <a target="blank"  v-bind:href="'/hymns/'+hymn1[0]+'.pdf'">#{{hymn1[0]}}</a></p>
      </div>
      <div class="column center aligned ">
        <p>"{{hymn1[1]}}"</p>
      </div>
      <div class="column center aligned ">
        <p>Invocation<span v-for="n in (prayer1Num-3)">. </span>{{prayer1}}</p>
      </div>

    </div>
  </div>

  <br>
  <div class="ui serif one colmun grid">
    <div class="row">
        <strong class="column center aligned" style="font-size:18px;">
          <em>Ward Business</em>
        </strong>
    </div>
  </div>
  <br>

  <div class="ui serif one column grid">
    <div class="row">
      <div class="column center aligned ">
        <p>Sacrament Hymn<span v-for="n in (hymnNum-2)">. </span><a target="blank"  v-bind:href="'/hymns/'+hymn2[0]+'.pdf'">#{{hymn2[0]}}</a></p>
      </div>
      <div class="column center aligned ">
        <p>"{{hymn2[1]}}"</p>
      </div>
    </div>
  </div>

    <br>
  <div class="ui serif one colmun grid">
    <div class="row">
        <strong class="column center aligned" style="font-size:18px;">
          <em>Administration of Sacrament</em>
        </strong>
    </div>
  </div>
  <br>
  <div class="ui serif one colmun grid">
    <div class="row">
        <strong class="column center aligned" style="font-size:18px;">
          <em>Christmas Program</em>
        </strong>
    </div>
  </div>
  <br>

 <!--  <div class="ui serif one column grid">
    <div class="row">
      <div class="column center aligned ">
        <p>Speaker<span v-for="n in (speaker1Num)">. </span>{{speaker[0]}}</p>
      </div>

      <div class="column center aligned ">
        <p>Speaker<span v-for="n in (speaker2Num)">. </span>{{speaker[1]}}</p>
      </div>
      
    </div>
    </div>
 -->

<!--   <div class="ui serif one column grid">
    <div class="row">
      <div class="column center aligned ">
        <p>Musical Number<span v-for="n in (hymnNum-24)">. </span><a target="blank"  v-bind:href="'/hymns/'+hymn3[0]+'.pdf'">{{hymn3[0]}}</a></p>
      </div>
      <div class="column center aligned ">
        <p>"{{hymn3[1]}}"</p>
      </div>
      <div class="column center aligned ">
        <p>Speaker<span v-for="n in (speaker3Num)">. </span>{{speaker[2]}}</p>
      </div>
     
    </div>
  </div> -->
      <div class="ui serif one column grid">
    <div class="row">
       <div class="column center aligned ">
        <p>Closing Hymn<span v-for="n in (hymnNum)">. </span><a target="blank" v-bind:href="'/hymns/'+hymn4[0]+'.pdf'">#{{hymn4[0]}}</a></p>
      </div>
      <div class="column center aligned ">
        <p>"{{hymn4[1]}}"</p>
      </div>
    <div class="column center aligned ">
        <p>Benediction<span v-for="n in (prayer2Num-4)">. </span>{{prayer2}}</p>
    </div>
    </div>
  </div>
    <br>
</div>

<div class="ui raised text centered aligned container segment">
  
  <div class="ui serif one column grid">
    <div class="row">
        <p class="column center aligned">
          Ward Announcements
        </p>
    </div>
  </div>
  <br>

 <div class="ui fluid styled accordion">

  <div v-for="announcements in announcements">
    <div class="active title">
    {{ announcements.title }}
    </div>
    <div class="active content">
      {{announcements.info}}
      <img class="ui centered tiny image" v-bind:src="announcements.img">
    </div>
  <!--   <div>
  <div v-for="itmes in items">
      <div class="active title">
        {{items.message}}
      </div>
      <div class="active content">
        <p class="transition">...</p>
      </div>
      </div>
    </div> -->

</div>
</div>
</div>
<div class="ui message raised text centered aligned container segment">
  
  <div class="ui text center aligned container">
    <div class="content">
        <p class="serif">
          New Ward Members
        </p>
    </div>
  </div>
  <br>

<form class="ui form">
  <div class="field">
    <label>Full Name</label>
    <input type="text" name="full-name" placeholder="e.g. John Smith">
  </div>

  <div class="fields">
    

    <div class="fourteen wide field">
      <label>Birthday</label>
      <div class="three fields">
        <div class="field">
          <select class="ui fluid search dropdown" name="month">
            <option value="">Month</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
        </div>
        <div class="field">
          <input type="text" name="day" maxlength="2" placeholder="Day">
        </div>
        <div class="field">
          <input type="text" name="year" maxlength="4" placeholder="Year">
        </div>
      </div>
    </div>
    
  </div>
  <div class="field">
    <label>Previous Ward</label>
    <input type="text" name="full-name" placeholder="Ward Name">
  </div>
  <div class="field">
    <label>Previous Stake</label>
    <input type="text" name="full-name" placeholder="Stake Name">
  </div>
  <div class="field">
    <label>Address</label>
    <input type="text" name="full-name" placeholder="Stake Name">
  </div>
  <div class="field">
    <label>Phone</label>
    <input type="text" name="full-name" placeholder="Stake Name">
  </div>
  <div class="field">
    <label>Email</label>
    <input type="text" name="full-name" placeholder="Stake Name">
  </div>
  <button class="ui button" type="submit">Submit</button>
</form>
 
</div>
  


  
<div class="ui raised text centered aligned container segment">
  
  <div class="ui text center aligned container">
    <div class="content">
        <p class="serif">
          Contact Information
        </p>
    </div>
  </div>
  <br>

  <table class="ui very basic celled table">

  <tbody>
    <tr>
      <td>
        <h4 class="ui image header">
          
          <div class="content">
            Bishop
            <div class="sub header">John Broadbent
          </div>
        </div>
      </h4></td>
      <td>
        <em>See Executive Secretary</em>
      </td>
    </tr>
    <tr v-for="contacts in contacts">
      <td>
        <h4 class="ui image header" >
          
          <div class="content">
            {{contacts.calling}}
            <div class="sub header">{{contacts.name}}
          </div>
        </div>
      </h4></td>
      <td>
        <a v-bind:href="'tel:+'+contacts.phone"><i class="phone icon"></i> {{contacts.phone | formatPhone}}</a>
      </td>
    </tr>
    <tr>
      </td>
        
  </tbody>
  </table>
</div>
</div>
</body>

<script>

  var app = new Vue ({
    el: '#app',
    data: {
      //hero
      date:"December 16, 2018",
      quote:[
      "Fear not, for, behold, I bring you good tidings of great joy, which shall be to all people.","Luke 2:10"
      ],
      meetingName:"Sacrament Meeting",
      img:"https://www.lds.org/bc/content/shared/content/images/gospel-library/magazine/ensignlp.nfo:o:195.jpg",
      //presiding
      presiding:"President Peterson",
      chorister:"Taylee Holverson",
      organist:"Ashley Curtis",
      //assignments
      prayer1:"Abbi Larson",
      prayer2:"Jeff Leavitt",
      speaker:["Daniel Mitchell","Barbara Cutler","Preston Cutler","Ruth Harris"],
      //hymns
      hymn1:[3,"Away in a Manger"],
      hymn2:[169,"Reverently and Meekly Now"],
      hymn3:[143,"It Came Upon a Midnight Clear"],
      hymn4:[209,"Hark! The Herald Angels Sing"],
      //annoucements
      announcements:[
        {title:"Youth Stake Trek",
          info:"All youth who are eligible to participate in the Stake Trek planned for 2019 should complete the survey at bit.ly/NorthShoreTrek."
        },
        {title:"Christmas Clothing Drive",
          info:"Help those in need this Christmas by donating clothes to the Road Home Charity. Collection bins and information is located in the foyers."
        },
        {title:"Tithing Settlement",
          info:"Schedule appointments online at northshore7thward.youcanbook.me"
        },
        {title:"Ward Choir",
          info:"Every Sunday at 11am at Kara Olson’s home."
        },
        {title:"Ward Temple Sealing Night",
          info:"Second Wednesday of each month. 7pm to 8pm."
        },
        {title:"Missionary Preparation Class",
          info:"Every Sunday 5-5:30 at the dock street building in the Relief Society room."
        },
        {title:"Bishop Appointments",
          info:"For appointments with the Bishop and for temple recommend interviews, contact Ty Brooks or Jeff Leavitt - or schedule online at northshore7thward.youcanbook.me",
          img:"/images/ward-bookme.png"
        },
        {title:"Stake Temple Recommends",
          info:"For stake temple recommends, schedule online at northshorestake.youcanbook.me"
        },
      ],
      //
      contacts:[
      {calling:"First Counselor",
        name:"Lou Weinberg",
        phone:"8018082488"
      },
      {calling:"Second Counselor",
        name:"Ryan Rock",
        phone:"8017872597"
      },
      {calling:"Executive Secretary",
        name:"Ty Brooks",
        phone:"8012447528"
      },
      {calling:"Assistant Executive Secretary",
        name:"Jeff Levitt",
        phone:"4357733572"
      },
      {calling:"Elders Quorum President",
        name:"Jonathan Moffit",
        phone:"8014504506"
      },
      {calling:"Ward Clerk",
        name:"Cabot Murdock",
        phone:"8014048634"
      },
      {calling:"Membership Clerk",
        name:"Tom Rose",
        phone:"8017754775"
      },
      {calling:"Financial Clerk",
        name:"Matt Church",
        phone:"8015609766"
      },
      {calling:"Relief Society President",
        name:"Misty Curtis",
        phone:"9284281106"
      },
      {calling:"Sunday School President",
        name:"Scott Watco",
        phone:"8016417459"
      },
      {calling:"Young Women's President",
        name:"Karlin White",
        phone:"8019186903"
      },
      {calling:"Young Men's President",
        name:"Justin Keck",
        phone:"8017927763"
      },
      {calling:"Primary President",
        name:"Angela Williams",
        phone:"3854498075"
      },
      {calling:"Ward Mission Leader",
        name:"Darin Ramos",
        phone:"8016525178"
      },
      {calling:"Moving Coordinator",
        name:"Tydon Holverson",
        phone:"8016742814"
      },
      ],
      //spacing
      presidingNum:20,
      choristerNum:20,
      organistNum:20,
      prayer1Num:20,
      prayer2Num:20,
      speaker1Num:20,
      speaker2Num:20,
      speaker3Num:20,
      speaker3Num:20


    },
    methods:{
      
    },
    filters: {
    formatPhone: function (phone) {
    return phone.substring(0, 3)+"-"+phone.substring(3, 6)+"-"+phone.substring(6, 10);
    
      }
    }

  });
var w = window.innerWidth;
var dots = 20;
if (w > 764) {
  dots = 60;
} else if (w > 512){
  dots = 40;
} else if (w > 370) {
  dots = 25;
}else {
  dots = 20;
}
  app.presidingNum = dots-2-app.presiding.length;
  app.choristerNum = dots-app.chorister.length;
  app.organistNum = dots-app.organist.length;
  app.hymnNum = dots-12;
  app.prayer1Num = dots-app.prayer1.length;
  app.prayer2Num = dots-app.prayer2.length;
  app.speaker1Num = dots-app.speaker[0].length;
  app.speaker2Num = dots-app.speaker[1].length;
  app.speaker3Num = dots-app.speaker[2].length;
  app.speaker4Num = dots-app.speaker[3].length;

  $('.ui.accordion')
  .accordion()
;
$('select.dropdown')
  .dropdown()
;

</script>
</html>